fib.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:fibonacci" xmlns:impl="urn:fibonacci" xmlns:intf="urn:fibonacci" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<!--WSDL created by Apache Axis version: 1.2.1
Built on Jun 14, 2005 (09:15:57 EDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:fibonacci">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_int">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="calculateFibonacciRangeResponse">

      <wsdl:part name="calculateFibonacciRangeReturn" type="impl:ArrayOf_xsd_int"/>

   </wsdl:message>

   <wsdl:message name="calculateFibonacciRequest">

      <wsdl:part name="in0" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="calculateFibonacciRangeRequest">

      <wsdl:part name="in0" type="xsd:int"/>

      <wsdl:part name="in1" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="calculateFibonacciResponse">

      <wsdl:part name="calculateFibonacciReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:portType name="Fibonacci">

      <wsdl:operation name="calculateFibonacci" parameterOrder="in0">

         <wsdl:input name="calculateFibonacciRequest" message="impl:calculateFibonacciRequest"/>

         <wsdl:output name="calculateFibonacciResponse" message="impl:calculateFibonacciResponse"/>

      </wsdl:operation>

      <wsdl:operation name="calculateFibonacciRange" parameterOrder="in0 in1">

         <wsdl:input name="calculateFibonacciRangeRequest" message="impl:calculateFibonacciRangeRequest"/>

         <wsdl:output name="calculateFibonacciRangeResponse" message="impl:calculateFibonacciRangeResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="fibonacciSoapBinding" type="impl:Fibonacci">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="calculateFibonacci">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calculateFibonacciRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:fibonacci"/>

         </wsdl:input>

         <wsdl:output name="calculateFibonacciResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:fibonacci"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="calculateFibonacciRange">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calculateFibonacciRangeRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:fibonacci"/>

         </wsdl:input>

         <wsdl:output name="calculateFibonacciRangeResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:fibonacci"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FibonacciService">

      <wsdl:port name="fibonacci" binding="impl:fibonacciSoapBinding">

         <wsdlsoap:address location="http://localhost:8080/axis/services/fibonacci"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
